{% extends "base.html" %}
{% block content %}
{% for review in review_list %}
<span class="row text-primary">
    <h3 class="col-4">{{ review.title }}</h3>
    <h3 class="col-8">{% for star in review.stars %} 
        &#9733;
        {% endfor %}
    </h3>
</span>
<p class="lead">{{ review.review }}</p>
<p><strong>Starring:</strong> {{ review.actors }}</p>
<p><strong>Directed by:</strong> {{ review.director }}</p>
<p><strong>Year:</strong> {{ review.year }}</p>
<p class="pb-3"><strong>Review by:</strong> {{ review.author }}</p>
{% endfor %}
{% endblock content %}